<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="LocalPersonDatabase" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=PeopleDataBasetask16;uid=root; pwd=root; charset=utf8;" />
  <add name="test" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=test;uid=root; pwd=root; charset=utf8;" />

</connectionStrings>